body{
  background-color: #ce5252;
  font-family: "Times New Roman";
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

p.name{
  font-family: Quicksand, Palatino;
  color: white;
  font-weight: bold;
  margin: 110px 380px 0px 0px;
}

h1{
  color: rgb(90, 23, 23);
  font-family: Quicksand, Palatino;
  margin: -8px 20px 20px 0px;
  font-size: 70px;
  font-weight: normal;
}

p.click{
  font-family: Quicksand, Palatino;
  color: rgb(230, 224, 222);
  font-style: italic;
  margin: 0px 20px 0px 0px;
}

.header-bar{
  background-color: rgb(187, 27, 27);
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.header {
  overflow: hidden;
  text-align: right;
  border: 1px solid rgb(216, 18, 18);
  height: 280px;
  background-image: url("groceries.jpg");
  background-color: #aa4d4d;
}

.navbar {
  overflow: hidden;
  background-color: #ddd;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar a.active {
  background-color: rgb(167, 47, 42);
  color: white;
}

.navbar a.first:hover{
  background-color: darkgrey;
  color:black;
}


.footer{
  overflow: hidden;
  text-align: right;
  border: 1px solid #ccc;
  background-color: #c94545;
  bottom: 0;
  right: 0;
  width: 100%;
  color:blanchedalmond;
  position: fixed;
}
.displayManage{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.displayManage, .active:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.filters {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #f1f1f1;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #f1f1f1;
}

.productSquare {
  width: 150px;
  height: 160px;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 4px #f1f1f1 solid;
}

button.ok{
  align-self: left;
  background-color: cornflowerblue;
  border: 2px darkgrey solid;
  width: 125px;
  height: 40px;
  color: white;
  text-align: left;
}

button.ok:hover{
  background-color: darkgrey;
}

#Products, #Cart{
  visibility: hidden;
}

p.total{
  size: large;
  background-color: cornflowerblue;
  width: 50%;
  height: 30px;
  color: white;
  padding: 7px;
  border: 2px solid darkgrey;

}